.site-header {
    display: flex;
    justify-content: center;
    
}
.small-image{width: 200px;
padding-right: 15px;}
.grid-item {
    display: flex;
    flex-direction: row;
    padding-top: 50px;
}
body{
    background-size: 100% 100%;
    
}